.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Game {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  margin: 20px;
}

.Game-over {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button {
  border-style: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  background-color: #5bc0de;
  color: #ffffff
}

button.newGame {
  margin-bottom: 40px;
  padding: 10px;
  background-color: white;
  color: black;
  border-style: solid;
}

button.teleport {
  color: white;
  background-color: orange;
  margin-top: 20px;
}

button.safeTeleport {
  color: white;
  background-color: #5cb85c;
}

button.catchMe {
  color: white;
  background-color: #d9534f;
}